@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default focus styles */
[type="text"],
textarea,
select {
               border: 1px solid transparent;
               /* No border by default */
}

/* Apply a blue border only when clicked (focused) */
[type="text"]:focus,
textarea:focus,
select:focus {
               /* border-color: green !important; */
               outline: none !important;
               /* Remove default focus outline */
}